[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11
[submodule "libs/tuning-library"]
	path = libs/tuning-library
	url = https://github.com/surge-synthesizer/tuning-library
[submodule "libs/oddsound-mts/MTS-ESP"]
	path = libs/oddsound-mts/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP
[submodule "libs/json/jsoncpp"]
	path = libs/json/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "libs/ableton-link"]
	path = libs/ableton-link
	url = https://github.com/Ableton/link.git
[submodule "libs/readerwriterqueue"]
	path = libs/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "libs/exprtk"]
	path = libs/exprtk
	url = https://github.com/ArashPartow/exprtk.git
	branch = cmake
