[Desktop Entry]
Name=BespokeSynth
GenericName=Software modular synth
Comment=Software modular synth with controllers support, scripting and VST
Exec=/usr/bin/BespokeSynth
Icon=bespoke_icon
Categories=AudioVideo;Audio;Music;Midi
Terminal=false
Type=Application
Keywords=MIDI;Synth;VST
